
<h4>Ajustes</h4>
<hr>




<!-- =====================
== CARRERAS
======================= -->
<div class="row animated fadeIn fast m-3">

  <div class="col-md-8">

    <app-carreras></app-carreras>

  </div>
  
  
</div>
<!-- =====================
== FIN CARRERAS
======================= -->

<hr class="m-3">


<!-- =====================
== PERIODOS
======================= -->
<div class="row animated fadeIn fast m-3">

  <div class="col-12">


    <app-periodos></app-periodos>


  </div>
  
  
</div>

<!-- =====================
== FIN PERIODOS
======================= -->

