



<h4>Proyecto <small *ngIf="proyectoSeleccionado">{{ proyectoSeleccionado.nombre }}</small></h4>
<hr>

<!-- =====================
== BOTÓN REGRESAR
======================= -->
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"
            routerLink="/dashboard/proyectos">
            <i class="fas fa-arrow-left mr-2"></i>Regresar
        </button>
    </div>
</div> 
<!-- =====================
== FIN BOTÓN REGRESAR
======================= -->   




<!-- =====================
== DATOS DEL ALUMNO QUE CREO EL PROYECTO "PRIVADO"
======================= --> 
<div class="row animated fadeIn fast m-3" *ngIf="proyectoSeleccionado?.alumno">
  
  <div class="col-md-8">

      <ul class="list-group text-dark mb-3">
        
        <li class="list-group-item active"><p class="m-0"><strong>Datos del Alumno</strong></p></li>
        
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-3 text-bold">
                <strong>No. de Control:</strong>
            </div>
            <div class="col-md-9 mt-md-0 mt-1">
              <p class="m-0">{{ proyectoSeleccionado.alumno.numero_control }}</p>
            </div>
          </div>
        </li>

        <li class="list-group-item">
            <div class="row">
              <div class="col-md-3 text-bold">
                  <strong>Nombre:</strong>
              </div>
              <div class="col-md-9 mt-md-0 mt-1">
                <p class="m-0">{{ proyectoSeleccionado.alumno.nombre }}</p>
              </div>
            </div>
          </li>


          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3 text-bold">
                  <strong>Apellidos:</strong>
              </div>
              <div class="col-md-9 mt-md-0 mt-1">
                <p class="m-0">{{ proyectoSeleccionado.alumno.apellido_paterno }} {{ proyectoSeleccionado.alumno.apellido_materno }}</p>
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3 text-bold">
                  <strong>Carrera:</strong>
              </div>
              <div class="col-md-9 mt-md-0 mt-1">
                <p class="m-0">{{ proyectoSeleccionado.alumno.carrera.nombre }}</p>
              </div>
            </div>
          </li>

      </ul>

  </div>

</div>
<!-- =====================
== FIN DATOS DEL ALUMNO QUE CREO EL PROYECTO "PRIVADO"
======================= --> 





<!-- =====================
== FORMULARIO PROYECTO
======================= --> 

<div class="row animated fadeIn faster m-3">
    <div class="col">

      <h5>Información del Proyecto</h5>

      <br>

      <form [formGroup]="proyectoForm"
            (submit)="guardar()"
            autocomplete="off">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nombre del Proyecto</label>
            <input type="text" 
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('nombre') }"
                   placeholder="Nombre del Proyecto"
                   formControlName="nombre"> 
            <div *ngIf="campoNoValido('nombre')" class="invalid-feedback">
              {{ mensajesError('nombre') }}
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Dependencia</label>
            <select class="custom-select mr-sm-2"
                    [ngClass]="{'is-invalid': campoNoValido('dependencia') }"
                    formControlName="dependencia">
              <option value="">SELECCIONAR DEPENDENCIA</option>
              <option *ngFor="let dependencia of dependencias"
                        [value]="dependencia._id">
                        {{ dependencia.nombre }}
              </option>
            </select>      
            <div *ngIf="campoNoValido('dependencia')" class="invalid-feedback">
              {{ mensajesError('dependencia') }}
            </div>    
          </div>
        </div>





        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Objetivo</label>
            <textarea
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('objetivo') }"
                   formControlName="objetivo"
                   placeholder="Objetivo..."
                   rows="3"></textarea>
            <div *ngIf="campoNoValido('objetivo')" class="invalid-feedback">
              {{ mensajesError('objetivo') }}
            </div>
          </div>

          <div class="form-group col-md-6">
            <label>Actividades a desarrollar</label>
            <textarea
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('actividades') }"
                   formControlName="actividades"
                   placeholder="Actividades a desarrollar..."
                   rows="3"></textarea>
            <div *ngIf="campoNoValido('actividades')" class="invalid-feedback">
              {{ mensajesError('actividades') }}
            </div>
          </div>
        </div>


 


        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Tipo de actividades</label>
            <select class="custom-select mr-sm-2"
                      [ngClass]="{'is-invalid': campoNoValido('tipo_actividades') }"
                      formControlName="tipo_actividades"
                      #tipoActividad
                      (ngModelChange)="cambioTipoActividad( tipoActividad.value )">
                <option value="">SELECCIONAR TIPO</option>
                <option *ngFor="let option of optionsTipoActividades"
                        [value]="option.value">
                        {{ option.label }}
                </option>
              </select>       
              <div *ngIf="campoNoValido('tipo_actividades')" class="invalid-feedback">
                {{ mensajesError('tipo_actividades') }}
              </div>
          </div>

          <div class="form-group col-md-4" *ngIf="proyectoForm.get('otro')">
            <label>Especifique tipo</label>
            <input formControlName="otro"
                  [ngClass]="{'is-invalid': campoNoValido('otro') }"
                   class="form-control"
                   placeholder="Tipo de actividad">
              <div *ngIf="campoNoValido('otro')" class="invalid-feedback">
                {{ mensajesError('otro') }}
              </div>
          </div>

            <div class="form-group col-md-4">
              <label>Tipo de proyecto</label>
              <select class="custom-select mr-sm-2"
                      [ngClass]="{'is-invalid': campoNoValido('tipo') }"
                      formControlName="tipo">
                <option value="">SELECCIONAR TIPO</option>
                <option value="Actividades deportivas">Actividades deportivas</option>
                <option value="Actividades cívicas">Actividades cívicas</option>
                <option value="Actividades culturales">Actividades culturales</option>
                <option value="Apoyo a la salud">Apoyo a la salud</option>
                <option value="Desarrollo de comunidad">Desarrollo de comunidad</option>
                <option value="Desarrollo sustentable">Desarrollo sustentable</option>
                <option value="Educación para adultos">Educación para adultos</option>
                <option value="Medio ambiente">Medio ambiente</option>
                <option value="Otro">Otro</option>
              </select>      
              <div *ngIf="campoNoValido('tipo')" class="invalid-feedback">
                {{ mensajesError('tipo') }}
              </div>    
            </div> 
        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Periodo</label>
            <select class="custom-select mr-sm-2"
                    [ngClass]="{'is-invalid': campoNoValido('periodo') }"
                    formControlName="periodo">
              <option value="">SELECCIONAR PERIODO</option>
              <option *ngFor="let periodo of periodos"
                        [value]="periodo._id">
                        {{ periodo.nombre }}
              </option>
            </select>      
            <div *ngIf="campoNoValido('dependencia')" class="invalid-feedback">
              {{ mensajesError('dependencia') }}
            </div>    
          </div>
          <div class="form-group col-md-4">
            <label>Lugar de desempeño</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="Lugar de desempeño"
                   [ngClass]="{'is-invalid': campoNoValido('lugar_desempeno') }"
                   formControlName="lugar_desempeno">
            <div *ngIf="campoNoValido('lugar_desempeno')" class="invalid-feedback">
              {{ mensajesError('lugar_desempeno') }}
            </div>
          </div>

          <div class="form-group col-md-4"> 
              <label>¿Dentro de las instalaciones?</label>
              <select class="custom-select mr-sm-2"
                    [ngClass]="{'is-invalid': campoNoValido('instalacion') }"
                    formControlName="instalacion">
              <option value="">SELECCIONAR OPCIÓN</option>
              <option [ngValue]="false">NO</option>
              <option [ngValue]="true">SI</option>
            </select>    
          </div>
        </div>

       

        <div class="form-row">

          <div class="form-group col-md-4">
            <label>Modalidad</label>
            <select class="custom-select mr-sm-2"
                      [ngClass]="{'is-invalid': campoNoValido('modalidad') }"
                      formControlName="modalidad">
                <option value="">SELECCIONAR MODALIDAD</option>
                <option value="Público">Público</option>
                <option value="Privado">Privado</option>
              </select>      
              <div *ngIf="campoNoValido('modalidad')" class="invalid-feedback">
                {{ mensajesError('modalidad') }}
              </div>
          </div>
         
          <div class="form-group col-md-4">
            <label>Horario</label>
            <input type="text" 
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('horario') }"
                   placeholder="Horario"
                   formControlName="horario">
            <div *ngIf="campoNoValido('horario')" class="invalid-feedback">
              {{ mensajesError('horario') }}
            </div> 
          </div>

          <div class="form-group col-md-4"> 
              <label>Apoyo económico</label>
              <select class="custom-select mr-sm-2"
                    [ngClass]="{'is-invalid': campoNoValido('apoyo_economico') }"
                    formControlName="apoyo_economico">
              <option value="">SELECCIONAR OPCIÓN</option>
              <option [ngValue]="false">NO</option>
              <option [ngValue]="true">SI</option>
            </select>    
          </div>
          

        </div>


        <div class="form-row">
            
            <div class="form-group col-md-6">
              <label>Nombre del responsable</label>
              <input type="text" 
                     class="form-control" 
                     [ngClass]="{'is-invalid': campoNoValido('responsable') }"
                     placeholder="Nombre del responsable"
                     formControlName="responsable">
              <div *ngIf="campoNoValido('responsable')" class="invalid-feedback">
                {{ mensajesError('responsable') }}
              </div> 
            </div>
            <div class="form-group col-md-6">
              <label>Puesto del responsable</label>
              <input type="text" 
                     class="form-control"
                     [ngClass]="{'is-invalid': campoNoValido('puesto_responsable') }"
                     placeholder="Puesto del responsable"
                     formControlName="puesto_responsable">
              <div *ngIf="campoNoValido('puesto_responsable')" class="invalid-feedback">
                {{ mensajesError('puesto_responsable') }}
              </div>
            </div>
  

          </div>


          <hr>

          <div class="form-row"> 

            <div class="form-group col-md-6" *ngIf="showCarreras || proyectoSeleccionado?.publico">
              <h6>Carreras solicitadas</h6>
              <br>
              <mat-form-field>
                <input type="text"
                       placeholder="Añadir carrera"
                       aria-label="Carrera"
                       matInput
                       [formControl]="carreraControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" 
                                  [displayWith]="mostrarNombre"
                                  (optionSelected)="seleccionarCarrera($event)">
                  <mat-option *ngFor="let carrera of carrerasFiltradas | async" [value]="carrera">
                    {{carrera.nombre}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <div class="text-danger" *ngIf="carreraControl.invalid">
                Debe seleccionar almenos una carrera.
              </div> 
            </div>

            
          </div>

          <table class="table table-striped table-hover table-bordered"
                  *ngIf="itemCarreras.length > 0">
            <thead>
              <tr>
                <th>Carrera</th>
                <th>Cantidad</th>
                <th>Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemCarrera of itemCarreras">
                <td>{{ itemCarrera.carrera.nombre }}</td>
                <td>
                  <input type="number"
                         value="{{itemCarrera.cantidad}}"
                         class="form-control col-sm-4"
                         min="1"
                         (change)="actualizarCantidad( itemCarrera.carrera._id, $event )">
                </td>
                <td>
                  <button class="btn btn-outline-danger"
                        type="button"
                        (click)="borrarItemCarrera(itemCarrera.carrera._id)">
                        <i class="fas fa-times"></i></button>
                </td>
              </tr>
            </tbody>
          </table>


          <!-- =====================
          == MENSAJE NO HAY CARRERAS
          ======================= -->
          <div class="row animated fadeIn faster mt-3" *ngIf="proyectoSeleccionado && itemCarreras.length == 0">
            <div class="col-12">
                <div class="alert alert-danger text-center">
                    <h5 class="alert-heading">No hay carreras asignadas a este proyecto.</h5>
                </div> 
            </div>
          </div>
          <!-- =====================
          == FIN MENSAJE NO HAY CARRERAS
          ======================= -->
          
          

        <br>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary btn-block"
                    type="submit">
            <i class="fas fa-save mr-2"></i>Guardar    
            </button>
          </div>
        </div>


      </form>

    </div>

</div>
<!-- =====================
== FIN FORMULARIO PROYECTO
======================= --> 
