

<div class="row animated fadeIn">
  <div class="col-lg-8 col-md-6 col-sm-12">
    <h4>Documentos</h4>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <select class="custom-select" #selectDocumento (change)="cambioDocumento(selectDocumento.value)">
      <ng-container *ngFor="let d of estructura">
        <option [value]="d.codigo">{{ (d.titulo.length>35)? (d.titulo | slice:0:35)+'... ':(d.titulo) }}</option>
      </ng-container>
    </select>
  </div>
</div>

<hr>


<div class="row d-flex justify-content-end">
  <div class="col-md-3">
      <select class="custom-select" #selectStatus (change)="cambioValue(selectStatus.value)" >
          <option [value]="'pendiente'">Pendiente</option>
          <option [value]="'rechazado'">Rechazado</option>
          <option [value]="'aceptado'">Aceptado</option>
        </select>
  </div>
</div>


<!-- =====================
== TABLA PENDIENTES
======================= --> 
<div class="row mb-5 mt-3" *ngIf="!cargando && items.length > 0">
    <div class="col-12">


      <h5>Total ({{totalItems}})<small>
        <span class="badge badge-pill text-white text-capitalize p-1 ml-1"
              [class.badge-warning]="estado == 'pendiente'"
              [class.badge-danger]="estado == 'rechazado'"
              [class.badge-success]="estado == 'aceptado'">{{estado}}</span>
          </small></h5>

   
                <div class="table-responsive ">
                    <table class="table table-hover mt-3 animated fadeIn faster">
                        <thead class="text-primary">
                          <tr>
                            <th scope="col">No. Control</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Carrera</th>
<!--                             <th scope="col">Fecha</th>
 -->                         <th scope="col">Ver</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="manita" *ngFor="let item of items">
                              <td>{{item.alumno.numero_control}}</td>
                              <td>{{item.alumno.nombre}}</td>
                              <td>{{item.alumno.apellido_paterno}} {{item.alumno.apellido_materno}}</td>
                              <td>{{item.alumno.carrera.nombre}}</td>
                              <!-- <td>
                              </td> -->
                            <td>
                                <a class="btn btn-info btn-sm" [routerLink]="['/dashboard/documento', item._id]">Ver</a>
                              </td>
                          </tr>
                        </tbody>
                    </table>    
                </div>

                <div class="text-center pt-3">
                  <button class="btn btn-secondary mr-2">Anterior</button>
                  <button class="btn btn-secondary">Siguiente</button>
                </div>
    
    </div>
  </div>
  <!-- =====================
  == FIN TABLA PENDIENTES
  ======================= --> 
  

<!-- =====================
== MENSAJE CARGANDO
======================= -->
<div class="row mt-3 animated fadeIn faster" *ngIf="cargando">
  <div class="col-12">
      <div class="alert alert-info text-center">
          <h4 class="alert-heading">Cargando</h4>
          <i class="fa fa-sync-alt fa-spin fa-2x"></i>
          <p class="mb-0">Espere por favor</p>
      </div> 
  </div>
</div>
<!-- =====================
== FIN MENSAJE CARGANDO
======================= -->


<!-- =====================
== MENSAJE NO HAY REGISTROS
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="!cargando && items.length == 0">
  <div class="col-12">
      <div class="alert alert-warning text-center">
          <h4 class="alert-heading">No hay registros</h4>
          <i class="fa fa-exclamation fa-2x"></i>
      </div> 
  </div>
</div>
<!-- =====================
== FIN MENSAJE NO HAY REGISTROS
======================= -->